In [7]:
import os
import pandas as pd

mk_assets_path = r"\\wsl$\Ubuntu\root\learn\mk\public"
mk_maps_path = rf"{mk_assets_path}\maps"
mk_characters_path = rf"{mk_assets_path}\characters"

migrated_data = pd.read_csv(
    r"C:\Users\Cooper\sandbox\mkstream\form_data_migration\form_data_valid.csv"
)

## Maps

In [ ]:
map_icons = [f"/maps/{x}" for x in os.listdir(mk_maps_path)]

map_paths_sorted = pd.Series(map_icons).sort_values().reset_index(drop=True)

map_names_sorted = (
    pd.Series(
        [
            "Wario Stadium",
            "D.K.'s Jungle",
            "Sherbet Land",
            "Koopa Troopa Beach",
            "Yoshi Valley",
            "Banshee Boardwalk",
            "Royal Raceway",
            "Kalimari Desert",
            "Bowser's Castle",
            "Toad's Turnpike",
            "Frappe Snowland",
            "Choco Mountain",
            "Mario Raceway",
            "Moo Moo Farm",
            "Luigi Raceway",
            "Rainbow Road",
        ]
    )
    .sort_values()
    .reset_index(drop=True)
)

maps_df = pd.DataFrame(
    {
        "MAP": map_names_sorted,
        "IMAGE_URL": map_paths_sorted,
    }
)

maps_df

In [ ]:
maps_df.to_csv(
    rf"C:\Users\Cooper\sandbox\mkstream\form_data_migration\maps_valid.csv",
    index=False,
)

## Characters

In [8]:
migrated_data["CHARACTERS_1ST"].unique()

array(['Toad', 'Mario', 'Yoshi', 'Peach', 'Luigi', 'Bowser', 'D.K.',
       'Wario', nan], dtype=object)

In [10]:
migrated_data[migrated_data["CHARACTERS_1ST"].isna()]

,TIMESTAMP,NEW_SESSION,SUID,MAP,PLAYERS,PLAYERS_1ST,PLAYERS_2ND,PLAYERS_3RD,PLAYERS_4TH,CHARACTERS_1ST,CHARACTERS_2ND,CHARACTERS_3RD,CHARACTERS_4TH,SEASON
216,2024-07-09 08:40:00-04:00,NO,19,Wario Stadium,3,NaN,Triston,Cooper,NaN,NaN,Yoshi,D.K.,NaN,11

In [11]:
migrated_data[migrated_data["CHARACTERS_2ND"].isna()]

,TIMESTAMP,NEW_SESSION,SUID,MAP,PLAYERS,PLAYERS_1ST,PLAYERS_2ND,PLAYERS_3RD,PLAYERS_4TH,CHARACTERS_1ST,CHARACTERS_2ND,CHARACTERS_3RD,CHARACTERS_4TH,SEASON
215,2024-07-09 08:35:00-04:00,NO,19,Banshee Boardwalk,3,Regan,NaN,NaN,NaN,Peach,NaN,NaN,NaN,11

### Icons

In [6]:
# Ignore the `/characters/icons/MK64_icon_Q.png` question mark icon
character_icons = [
    rf"/characters/icons/{x}"
    for x in os.listdir(rf"{mk_characters_path}/icons")
    if not x.__contains__("Q")
]

character_icons_paths_sorted = (
    pd.Series(character_icons).sort_values().reset_index(drop=True)
)

character_icons_paths_sorted

0    /characters/icons/MK64_icon_Bowser.png
1        /characters/icons/MK64_icon_DK.png
2     /characters/icons/MK64_icon_Luigi.png
3     /characters/icons/MK64_icon_Mario.png
4     /characters/icons/MK64_icon_Peach.png
5      /characters/icons/MK64_icon_Toad.png
6     /characters/icons/MK64_icon_Wario.png
7     /characters/icons/MK64_icon_Yoshi.png
dtype: object