In [1]:
import os
import pandas as pd
import numpy as np

mk_assets_path = r"\\wsl$\Ubuntu\root\learn\mk\public"
mk_maps_path = rf"{mk_assets_path}\maps"
mk_characters_path = rf"{mk_assets_path}\characters"

migrated_data = pd.read_csv(
    r"C:\Users\Cooper\sandbox\mkstream\form_data_migration\form_data_valid.csv"
)

## Maps

In [ ]:
map_icons = [f"/maps/{x}" for x in os.listdir(mk_maps_path)]

map_paths_sorted = pd.Series(map_icons).sort_values().reset_index(drop=True)

map_names_sorted = (
    pd.Series(
        [
            "Wario Stadium",
            "D.K.'s Jungle",
            "Sherbet Land",
            "Koopa Troopa Beach",
            "Yoshi Valley",
            "Banshee Boardwalk",
            "Royal Raceway",
            "Kalimari Desert",
            "Bowser's Castle",
            "Toad's Turnpike",
            "Frappe Snowland",
            "Choco Mountain",
            "Mario Raceway",
            "Moo Moo Farm",
            "Luigi Raceway",
            "Rainbow Road",
        ]
    )
    .sort_values()
    .reset_index(drop=True)
)

maps_df = pd.DataFrame(
    {
        "MAP": map_names_sorted,
        "IMAGE_URL": map_paths_sorted,
    }
)

maps_df

In [ ]:
maps_df.to_csv(
    rf"C:\Users\Cooper\sandbox\mkstream\form_data_migration\maps_valid.csv",
    index=False,
)

## Characters

In [ ]:
migrated_data["CHARACTERS_1ST"].unique()

### Icons

In [ ]:
# Ignore the `/characters/icons/MK64_icon_Q.png` question mark icon
character_icons = [
    rf"/characters/icons/{x}"
    for x in os.listdir(rf"{mk_characters_path}/icons")
    if not x.__contains__("Q")
]

character_icons_paths_sorted = (
    pd.Series(character_icons).sort_values().reset_index(drop=True)
)

character_icons_paths_sorted

In [ ]:
character_portrait_won = [
    rf"/characters/portrait_won/{x}"
    for x in os.listdir(rf"{mk_characters_path}/portrait_won")
    if not x.__contains__("Q")
]

character_portrait_won_paths_sorted = (
    pd.Series(character_portrait_won).sort_values().reset_index(drop=True)
)

character_portrait_won_paths_sorted

In [ ]:
character_portrait_lost = [
    rf"/characters/portrait_lost/{x}"
    for x in os.listdir(rf"{mk_characters_path}/portrait_lost")
    if not x.__contains__("Q")
]

character_portrait_lost_paths_sorted = (
    pd.Series(character_portrait_lost).sort_values().reset_index(drop=True)
)

character_portrait_lost_paths_sorted

In [20]:
map_characters_sorted = (
    pd.Series(["Toad", "Mario", "Yoshi", "Peach", "Luigi", "Bowser", "D.K.", "Wario"])
    .sort_values()
    .reset_index(drop=True)
)

In [ ]:
characters_df = pd.DataFrame(
    {
        "CHARACTER": map_characters_sorted,
        "IMAGE_URL_ICON": character_icons_paths_sorted,
        "IMAGE_URL_PORTRAIT_WON": character_portrait_won_paths_sorted,
        "IMAGE_URL_PORTRAIT_LOST": character_portrait_lost_paths_sorted,
    }
)

characters_df["TYPE"] = ""

characters_df["TYPE"] = np.where(
    characters_df["CHARACTER"].isin(["Bowser", "D.K.", "Wario"]),
    "Heavy",
    characters_df["TYPE"],
)

characters_df["TYPE"] = np.where(
    characters_df["CHARACTER"].isin(["Toad", "Yoshi", "Peach"]),
    "Light",
    characters_df["TYPE"],
)

characters_df["TYPE"] = np.where(
    characters_df["CHARACTER"].isin(["Mario", "Luigi"]), "Medium", characters_df["TYPE"]
)

characters_df

In [29]:
characters_df.to_csv(
    rf"C:\Users\Cooper\sandbox\mkstream\form_data_migration\characters_valid.csv",
    index=False,
)

### Players

In [2]:
migrated_data["PLAYERS_1ST"].unique()

array(['Blake', 'Cooper', 'Matt', 'Cole', 'Regan', 'Luke', 'Konnor',
       'Triston', 'Chandler', 'Mikey', 'Connor', 'Domingo', 'Anthony',
       'Martin', 'Colton', 'Garrett', 'Robert', 'Antonio'], dtype=object)

In [4]:
# Load data_main from google sheet
from mktools.get_data import load_data_pd


data_main = load_data_pd(
    sheet_name="data_main",
    sheet_id=os.environ["SHEET_ID"],
    usecols=[
        "UID",
        "SUID",
        "NAME",
        "CHARACTER",
        "MAP",
        "PLACE",
        "PLAYERS",
        "DATE",
        "SEASON",
    ],
)

data_main["NAME"].astype(str).value_counts()

NAME
Blake         5235
Cooper        4980
Cole          3386
Regan         3280
Connor        3128
Matt          2421
Triston       1060
Domingo        927
Luke           765
Colton         745
Garrett        730
Konnor         668
Jake           561
Graber         481
Robert         388
Anthony        365
Chandler       328
Antonio        211
Randy          139
Sam            130
Miller         111
Ben             85
Joey            64
Hughes          59
Caskey          53
Andrew          45
Martin          41
Mikey           38
Chloe           36
Kayla           22
Austin          18
Coop W          16
Kali            14
Justin          13
Duncan P        11
Mitch            8
RandyTwo         7
Kieran           6
Sudur            5
RandyThree       3
Billy            2
Name: count, dtype: int64

In [5]:
data_main["NAME"].unique()

array(['Cole', 'Connor', 'Cooper', 'Triston', 'Blake', 'Matt', 'Jake',
       'Joey', 'Regan', 'Chandler', 'Luke', 'Caskey', 'Duncan P',
       'Graber', 'Anthony', 'Garrett', 'Konnor', 'Martin', 'Andrew',
       'Miller', 'Kayla', 'Chloe', 'Ben', 'Sam', 'Robert', 'Colton',
       'Mitch', 'Justin', 'Coop W', 'Randy', 'Domingo', 'Austin', 'Billy',
       'Mikey', 'Hughes', 'Kieran', 'Kali', 'Antonio', 'RandyTwo',
       'RandyThree', 'Sudur'], dtype=object)

In [9]:
dm = data_main.copy()

dm["NAME"] = np.where(dm["NAME"].str.contains("Randy"), "Randy", dm["NAME"])

In [21]:
recent_sorted_names = (
    dm[dm["SEASON"].isin([15, 14, 13])]["NAME"]
    .astype(str)
    .str.strip()
    .value_counts()
    .reset_index()["NAME"]
)

In [22]:
all_sorted_names = (
    dm["NAME"]
    .astype(str)
    .str.strip()
    .value_counts()
    .reset_index()["NAME"]
)

In [51]:
missing_from_recent = set(all_sorted_names).symmetric_difference(set(recent_sorted_names))

resorted_names = [*recent_sorted_names, *[x for x in missing_from_recent]]

In [52]:
resorted_names

['Cooper',
 'Blake',
 'Cole',
 'Regan',
 'Matt',
 'Connor',
 'Konnor',
 'Garrett',
 'Domingo',
 'Colton',
 'Luke',
 'Antonio',
 'Triston',
 'Robert',
 'Randy',
 'Chandler',
 'Sam',
 'Hughes',
 'Joey',
 'Jake',
 'Mikey',
 'Martin',
 'Kali',
 'Sudur',
 'Anthony',
 'Kayla',
 'Graber',
 'Caskey',
 'Justin',
 'Kieran',
 'Mitch',
 'Ben',
 'Billy',
 'Coop W',
 'Andrew',
 'Duncan P',
 'Austin',
 'Miller',
 'Chloe']

In [6]:
data_main["NAME"].astype(str).value_counts().reset_index()

          NAME  count
0        Blake   5235
1       Cooper   4980
2         Cole   3386
3        Regan   3280
4       Connor   3128
5         Matt   2421
6      Triston   1060
7      Domingo    927
8         Luke    765
9       Colton    745
10     Garrett    730
11      Konnor    668
12        Jake    561
13      Graber    481
14      Robert    388
15     Anthony    365
16    Chandler    328
17     Antonio    211
18       Randy    139
19         Sam    130
20      Miller    111
21         Ben     85
22        Joey     64
23      Hughes     59
24      Caskey     53
25      Andrew     45
26      Martin     41
27       Mikey     38
28       Chloe     36
29       Kayla     22
30      Austin     18
31      Coop W     16
32        Kali     14
33      Justin     13
34    Duncan P     11
35       Mitch      8
36    RandyTwo      7
37      Kieran      6
38       Sudur      5
39  RandyThree      3
40       Billy      2

In [55]:
data_main["CHARACTER"].value_counts().reset_index()["CHARACTER"].to_list()

['Peach', 'Toad', 'Yoshi', 'Bowser', 'Luigi', 'Mario', 'Wario', 'D.K.']

In [56]:
data_main["MAP"].value_counts().reset_index()["MAP"].to_list()

['Wario Stadium',
 "Toad's Turnpike",
 'Koopa Troopa Beach',
 'Yoshi Valley',
 "D.K.'s Jungle",
 'Sherbet Land',
 'Royal Raceway',
 "Bowser's Castle",
 'Kalimari Desert',
 'Banshee Boardwalk',
 'Frappe Snowland',
 'Choco Mountain',
 'Mario Raceway',
 'Luigi Raceway',
 'Moo Moo Farm']

In [57]:
set(['Wario Stadium',
 "Toad's Turnpike",
 'Koopa Troopa Beach',
 'Yoshi Valley',
 "D.K.'s Jungle",
 'Sherbet Land',
 'Royal Raceway',
 "Bowser's Castle",
 'Kalimari Desert',
 'Banshee Boardwalk',
 'Frappe Snowland',
 'Choco Mountain',
 'Mario Raceway',
 'Luigi Raceway',
 'Moo Moo Farm'])

{'Banshee Boardwalk',
 "Bowser's Castle",
 'Choco Mountain',
 "D.K.'s Jungle",
 'Frappe Snowland',
 'Kalimari Desert',
 'Koopa Troopa Beach',
 'Luigi Raceway',
 'Mario Raceway',
 'Moo Moo Farm',
 'Royal Raceway',
 'Sherbet Land',
 "Toad's Turnpike",
 'Wario Stadium',
 'Yoshi Valley'}