In [1]:
import os
import pandas as pd
from dotenv import load_dotenv

from mktools.get_data import load_data_pd
from mktools.stats import calculate_octets

load_dotenv()

# Load Data from the Google Sheet
df = load_data_pd(
    sheet_name="data",
    sheet_id=os.environ["SHEET_ID"],
    usecols=[
        "UID",
        "SUID",
        "NAME",
        "CHARACTER",
        "MAP",
        "PLACE",
        "PLAYERS",
        "DATE",
        "SEASON",
    ],
)

In [2]:
gb = df[(df["PLACE"] == 4) & (df["UID"] < 5846)].groupby("NAME").last().reset_index()

gb[gb["NAME"] == "Cooper"]

,NAME,UID,SUID,CHARACTER,MAP,PLACE,PLAYERS,DATE,SEASON
13,Cooper,5806,33,Mario,Frappe Snowland,4,4,2024-06-05,10